{% extends 'base_admin.html' %}
{% load static %}
{% block title %}Add Product{% endblock %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Add Products</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Products</li>
            </ol>
            <div class="card mb-4">

                <div class="card-body">
                    <form method="post" class="ProductForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Category Name</label>
                            <select class="form-control" name="category_name" required>
                                <option>Select Category</option>
                                <option value="pz">PIZZA</option>
                                <option value="sp">SPAGHETTI</option>
                                <option value="sw">SWEETS</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Product Name</label>
                            <input type="text" class="form-control" required  id="exampleInputEmail1" aria-describedby="Product Name" placeholder="Enter product name" name="product_name">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Price</label>
                            <input type="number" class="form-control" min="0" required id="exampleInputPassword1" placeholder="Price" name="price">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary btn-save">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}