@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color:red;
    text-transform: capitalize;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #6A2F2F;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation options */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    padding: 6px 15px;
    color: #6A2F2F;
    border-radius: 20px;
}

#menu a:hover {
    background: #6A2F2F;
    color: #fff;
}

.active {
    border-bottom: 1px solid #6A2F2F;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;

}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../css/images/hero_image.jpeg') no-repeat center center;

    /* animation property */
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

/* hero image zoom effect here */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(108, 31, 31, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* recipes style (mid page) */

#recipe {
    height: 400px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: green;
}


.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    letter-spacing: 2px;
}