{% extends 'base.html' %}
{% block title %}- Feedback{% endblock %}
{% block content %}
    <section class="form-section">
        <form method="POST" class="signup-form">
            <fieldset>
        		<h2>Your details</h2>
        			<label for="fname">First Name</label>
        			<input id="fname" name="first_name" type="text" class="text-input" required>
        			<label for="email">Email Address</label>
        			<input type="email" id="email" name="email_address" class="text-input" required>
        	</fieldset>
            <fieldset>
                <h2>Our Sweets</h2>
                <div>
                    <label for="fav-sweet">What was your favourite type of Sweet?</label>
                    <input id="fav-sweet" list="sweet" name="fav-sweet" class="text-input" required>
                    <datalist id="sweet">
                        <option value="Croissants">
                        <option value="Cannoli">
                        <option value="Pies">
                        <option value="Strudels">
                        <option value="Danishes">
                    </datalist>
                </div>
                <div class="radio-margin">
                <p>What is your favourite Spaghetti</p>

                <input id="Fettuccine" name="Fettuccine" value="Fettuccine" type="radio" required>
                <label for="Fettuccine">Fettuccine</label>

                <input id="Walnut-Pesto" name="Walnut-Pesto" value="Walnut-Pesto" type="radio" required>
                <label for="Walnut-Pesto">Walnut Pesto</label>

                <input id="Pantry-Pasta" name="Pantry Pasta" value="Pantry Pasta" type="radio" required>
                <label for="Pantry-Pasta">Pantry Pasta</label>

                <input id="Other" name="Other" value="Other" type="radio" required>
                <label for="Other">Other</label>
                </div>

                <div class="radio-margin">
                <p>How often do you visit The Corner Pastry?</p>

                <input id="once-a-week" name="visit-frequency" value="once-a-week" type="radio" required>
                <label for="once-a-week">Once a week</label>

                <input id="twice-a-week" name="visit-frequency" value="twice-a-week" type="radio" required>
                <label for="twice-a-week">Twice a week</label>

                <input id="once-a-month" name="visit-frequency" value="once-a-month" type="radio" required>
                <label for="once-a-month">Once a month</label>

                <input id="not-often" name="visit-frequency" value="not-often" type="radio" required>
                <label for="not-often">Not often</label>
                </div>
            </fieldset>
            <fieldset>
                <label for="feedback">How can we improve your experience with us?</label>
                <br>
                <textarea id="feedback" class="text-input" name="feedback"></textarea>
                <input class="submit-button" type="button" value="Submit">
            </fieldset>
        </form>
    </section>
{% endblock %}