{% extends 'base.html' %}
{% block content %}
    <section id="hero-outer">
        <div id="hero-image"></div>
        <div id="cover-text">
            <h2>Loving The Taste</h2>
            <h5>Recipes Made With Passion</h5>
        </div>
    </section>
    <section id="recipe">
        <h1 class="welcome">Why Our Menu</h1>
        <div id="left-about">
            <div class="left-about-heading">
                <h1>Healthy choice</h1>
                <br>
                <p>All our recipes are made from healthy choices,
                 where you dont have to worry about
                consuming too much sugar or fat</p>
            </div>
        </div>
        <div id="right-about">
            <div class="right-about-heading">
                <h2>From around the globe</h2>
                <br>
                <p>Recipes collected from around the world,
                    with a balanced taste that suits everyone.</p>
            </div>
        </div>
        <div id="center-about">
            <div class="center-about-heading">
                <h2>Adjustable Ingredients</h2>
                <br>
                <p>you have the choice to adjust your taste in our recipes with
                   a range that won't break the structure.</p>
            </div>
        </div>
    </section>
    <br>
    <h2 class="welcome" id="menu-link">Menu</h2>

    <section id="foods">

        <div id="pizza-box">
            <h3>Pizza <i class="fas fa-pizza-slice"></i></h3>
            <br>
            <ul>
                {% for foo in category_1_data %}
                    <li> <a href="javascript:;" class="add_to_carts" id="{{ foo.id }}"><li>{{ foo.product_name }}</li></a>
                {% endfor %}
            </ul>
        </div>
        <div id="spa-box">
            <h3>Spaghetti <i class="fas fa-utensils"></i></h3>
            <br>
            <ul>
                {% for foo in category_2_data %}
                    <li> <a href="javascript:;" class="add_to_carts" id="{{ foo.id }}"><li>{{ foo.product_name }}</li></a>
                {% endfor %}
            </ul>
        </div>
        <div id="sweet-box">
            <h3>Sweets <i class="fas fa-stroopwafel"></i></h3>
            <br>
            <ul>
                {% for foo in category_3_data %}
                    <li> <a href="javascript:;" class="add_to_carts" id="{{ foo.id }}"><li>{{ foo.product_name }}</li></a>
                {% endfor %}
            </ul>
        </div>
    </section>

    <br>
    <h2 class="welcome">Find us here</h2>
    <div id="map-wrapper">
        <iframe id="map" src="https://bit.ly/2QVfkiy" width="100" height="300"></iframe>     
    </div>
{% endblock %}
{% block scripts %}
    <script>
       $(document).on('click','.add_to_carts', function(e){
           var product_id = $(this).attr('id');
           var user_id = {{ user_id }}
           if(user_id == 0){
               window.location.href = 'login'
           }else{
                window.location.href = 'order-details?product_id='+product_id
           }

       })
    </script>
{% endblock %}