{% extends 'base.html' %}
{% block title %}- Login{% endblock %}
{% block content %}
    <section class="form-section">
        <form  method="POST" class="signup-form LoginForm">
            <fieldset>
        		<h2>Customer Login</h2>
        			<label for="fname">Email</label>
        			<input id="fname" name="email" type="text" class="text-input" required>

                    <label for="fname">Password</label>
        			<input id="fname" name="password" type="password" class="text-input" required>
                    <a href="{% url 'signup' %}"><label for="feedback">Not account sign up?</label>
        	</fieldset>
            <fieldset>
                <input class="submit-button btn-save" type="submit" value="Login">
            </fieldset>
        </form>
    </section>
{% endblock %}
{% block scripts %}
    <script>
        $(document).on('submit','.LoginForm', function(e){
            e.preventDefault();
            var form_data = new FormData(this);
            $('.btn-save').html("Processing..");
            var form = $('.LoginForm');
            form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                $.ajax({
                url: "/login_ajax/",
                method: "POST",
                processData: false,
                contentType: false,
                cache: false,
                data: form_data,
                success: function (data) {
                    if (data.status == 1) {
                        // set 2 seconds delay
                        alert_success = 'alert-success';
                        setTimeout(function () {
                            window.location.href = '/index';
                            alert("Login successfully")
                        }, 3000)
                    } else {
                        alert_success = 'alert-danger';
                        alert("Error")
                    }
                },
                error: function (data) {
                    console.log('error')
                    console.log(data)
                }
            })
        });
    </script>
{% endblock %}