{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pastry shop with our unique recipes">
    <meta name="keywords" content="pastry, food, pizza, recipes and steps">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <title>The Corner Pastry</title>
</head>
<body>
    <header>
        <a href="index.html">
            <h1 id="logo">The Corner Pastry</h1>
        </a>
        <nav>
            <ul id="menu">
                <li><a href="feedback.html" id="no-spacing" class="active">FeedBack</a></li>
                <li><a href="index.html#menu-link">Menu</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>

    </header>
    <section class="form-section">
         <form  method="POST" class="signup-form LoginForm">
    <fieldset>
		<h2>Customer Login</h2>
			<label for="fname">Email</label>
			<input id="fname" name="email" type="text" class="text-input" required>

            <label for="fname">Password</label>
			<input id="fname" name="password" type="password" class="text-input" required>
            <a href="{% url 'signup' %}"><label for="feedback">Not account sign up?</label>
	</fieldset>
    <fieldset>
        <input class="submit-button btn-save" type="submit" value="Login">
    </fieldset>
    </form>
    </section>

    <footer class="text-uppercase">

		<a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Find us on Facebook (link opens in a new tab)"><i class="fab fa-facebook"></i></a>
		<a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Find us on Instagram (link opens in a new tab)"><i class="fab fa-instagram"></i></a>
		<a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Find us on Twitter (link opens in a new tab)"><i class="fab fa-twitter"></i></a>
	</footer>
    <!-- font awesome script  -->
<script src="https://kit.fontawesome.com/68d2463814.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

 <script>

      $(document).on('submit','.LoginForm', function(e){
      e.preventDefault();
      var form_data = new FormData(this);
       $('.btn-save').html("Processing..")
          var form = $('.LoginForm');
      form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
              $.ajax({
              url: "/login_ajax/",
              method: "POST",
              processData: false,
              contentType: false,
              cache: false,
              data: form_data,
              success: function (data) {
                  if (data.status == 1) {
                      // set 2 seconds delay
                      alert_success = 'alert-success';
                      setTimeout(function () {
                          window.location.href = '/index';
                          alert("Login successfully")
                      }, 3000)
                  } else {
                      alert_success = 'alert-danger';
                      alert("Error")
                  }
              },
              error: function (data) {
                  console.log('error')
                  console.log(data)
              }
          })


});
 </script>

</body>
</html>