{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}- Login{% endblock %}
{% block content %}
    <section class="form-section">
        <form  method="POST" class="signup-form LoginForm">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <fieldset>
        		<h2>Customer Login</h2>
                {{ form.username.errors }}
                {% render_field form.username class="text-input" id="txt-input" placeholder="UserName" required="true" %}
                {{ form.password.errors }}
                {% render_field form.password class="text-input" id="pwd" placeholder="Password" required="true" %}
                <button class="submit-button btn-save" type="submit">Login</button>
        	</fieldset>
            
            <a href="{% url 'signup' %}">Not registered yet! Sign up?</a>
        </form>
    </section>
{% endblock %}