{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
    text-align: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-section {
    clear: inherit !important;
        text-align: -webkit-center;
    }

</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pastry shop with our unique recipes">
    <meta name="keywords" content="pastry, food, pizza, recipes and steps">
     <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <title>The Corner Pastry</title>
</head>
<body>
    <header>
        <a href="{% url 'index' %}">
            <h1 id="logo">The Corner Pastry</h1>
        </a>
        <nav>
            <ul id="menu">
                <li><a href="feedback.html" id="no-spacing" class="active">FeedBack</a></li>
                <li><a href="index.html#menu-link">Menu</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>

    </header>

<br><br> <br><br> <br><br> <br><br>
    <form method="post" class="orderForm">
    {% csrf_token %}
    <section class="form-section">
        <h2>Order Details</h2>
                <table>
                  <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                     <th>Total</th>
                      <th>Action</th>
                  </tr>
                    {% for data in return_data %}
                         <tr>
                            <td>{{ data.product_name }}</td>
                            <td>{{ data.price }}</td>
                             <input type="hidden" name="product_id[]" value="{{ data.p_id }}">
                              <input type="hidden" name="sum_amount[]" class="sum_amount_{{ data.p_id }} sum_amt">

                            <td><input type="text" class="quantity"  value="{{ data.quantity }}" name="quantity" required price="{{ data.price }}" id="{{ data.p_id }}"></td>
                             <td><span class="total_{{ data.p_id }}">{{ data.sum_amount }}</span></td>
                            <td>  <button class="button button1 save_now" type="button"  product_id="{{ data.p_id }}" customer_id="{{ data.customer_id }}">Save</button></td>
                          </tr>
                    {% endfor %}

                </table>
            <input type="text" value="{{ user_id }}" class="user_id" name="user_id">
        <!-- <button class="button button1 order_now" type="submit">Order Now</button> -->
    </section>
    </form>

    <footer class="text-uppercase">

		<a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Find us on Facebook (link opens in a new tab)"><i class="fab fa-facebook"></i></a>
		<a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Find us on Instagram (link opens in a new tab)"><i class="fab fa-instagram"></i></a>
		<a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Find us on Twitter (link opens in a new tab)"><i class="fab fa-twitter"></i></a>
	</footer>
    <!-- font awesome script  -->
<script src="https://kit.fontawesome.com/68d2463814.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
     $(document).on('keyup','.quantity', function(e){
         var price = $(this).attr('price');
         var quantity = $(this).val();
         var id  = $(this).attr('id')
         var sum = price * quantity;
          $('.total_'+id+'').text(sum);
           $('.sum_amount_'+id+'').val(sum);

     })


     $(document).on('submit','.orderForm', function(e){
      e.preventDefault();
      var form_data = new FormData(this)


       $('.btn-save').html("Processing..")
          var form = $('.orderForm');
      form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
              $.ajax({
              url: "/order_now_ajax/",
              method: "POST",
              processData: false,
              contentType: false,
              cache: false,
              data: form_data,
              success: function (data) {
                  console.log(data);
                  if (data.status == 1) {
                      // set 2 seconds delay
                      alert_success = 'alert-success';
                      setTimeout(function () {
                          window.location.href = '/index';
                          alert("Login successfully")
                      }, 3000)
                  } else {
                      alert_success = 'alert-danger';
                      alert("Error")
                  }
              },
              error: function (data) {
                  console.log('error')
                  console.log(data)
              }
          })

});

   $(document).on('click','.save_now', function(e){
        var product_id = $(this).attr('product_id');
        var customer_id =  $(this).attr('customer_id');
        var quantity = $(this).closest("tr").find(".quantity").val();
         var sum_amount = $(this).closest("tr").find(".sum_amt").val();

        $.ajax({
            url: '/indiviual_order/?product_id='+product_id+"&customer_id="+customer_id+"&sum_amount="+sum_amount+"&quantity="+quantity,
            data: {
                'product_id': product_id
            },
             success: function (data) {
                 console.log(data);
                 if (data.status == 1) {
                    alert('Order Placed')
                 }
             },
        });

   })
</script>
</body>
</html>