{% extends 'base.html' %}
{% block title %}- Products{% endblock %}
{% block content %}
    <section class="form-section">
        <form action="https://pastry.com" method="POST" class="signup-form">
            <fieldset>
        		<h2>Product Quantity</h2>

        			<label for="fname">Quantity</label>
        			<input id="fname" name="quantity" type="number" class="text-input" required>
        	</fieldset>
            <fieldset>
                <input class="submit-button" type="submit" value="Submit">
            </fieldset>
        </form>
    </section>
{% endblock %}