{% extends 'base.html' %}
{% block title %}- Signup{% endblock %}
{% block content %}
    <section class="form-section">
        <form  method="POST" class="signup-form SignupForm">
            <fieldset>
        		<h2>Customer Register</h2>
                    <label for="fname">Name</label>
        			<input id="fname" name="name" type="text" class="text-input" required>

        			<label for="fname">Email</label>
        			<input id="fname" name="email" type="text" class="text-input" required>

                    <label for="fname">Password</label>
        			<input id="fname" name="password" type="password" class="text-input" required>
        	</fieldset>
            <fieldset>
                <input class="submit-button" type="submit" value="Register">
            </fieldset>
        </form>
    </section>
{% endblock %}
{% block scripts %}
    <script>
        $(document).on('submit','.SignupForm', function(e){
            e.preventDefault();
            var form_data = new FormData(this);
            $('.btn-save').html("Processing..")
            var form = $('.SignupForm');
            form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            $.ajax({
                url: "/signup_ajax/",
                method: "POST",
                processData: false,
                contentType: false,
                cache: false,
                data: form_data,
                success: function (data) {
                    console.log(data)
                    if (data.status == 1) {
                        // set 2 seconds delay
                        alert_success = 'alert-success';
                        setTimeout(function () {
                            window.location.href = '/login';
                            alert("Customer Register successfully")
                        }, 1000)
                    }
                    else if(data.status == -2){
                        alert("Email already exits")
                    }
                    else {
                        alert_success = 'alert-danger';
                        alert("Error")
                    }
                },
                error: function (data) {
                    console.log('error')
                    console.log(data)
                }
            })
        });
    </script>
{% endblock %}