{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}- Signup{% endblock %}
{% block content %}
    <section class="form-section">
        <form  method="POST" class="signup-form SignupForm">
            {% csrf_token %}
            <fieldset>
        		<h2>Customer Register</h2>
                {{ form.username.errors }}
                {% render_field form.first_name class="text-input" id="txt-input" placeholder="First Name" required="true" %}

                {{ form.username.errors }}
                {% render_field form.last_name class="text-input" id="txt-input" placeholder="Last Name" required="true" %}

                {{ form.username.errors }}
                {% render_field form.username class="text-input" id="txt-input" placeholder="UserName" required="true" %}

                {{ form.username.errors }}
                {% render_field form.email class="text-input" id="txt-input" placeholder="Email" required="true" %}

                {{ form.username.errors }}
                {% render_field form.password1 class="text-input" id="txt-input" placeholder="Password" required="true" %}

                {{ form.username.errors }}
                {% render_field form.password2 class="text-input" id="txt-input" placeholder="Confirm Password" required="true" %}
        	</fieldset>
            <fieldset>
                <input class="submit-button" type="submit" value="Register">
            </fieldset>
        </form>
    </section>
{% endblock %}